<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>b30图片生成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import "static/b30.css";
    </style>
    <script src="../static/http_cdn.jsdelivr.net_npm_axios_dist_axios.js"></script>
    <script src="../static/imageToBase64.js"></script>
    <script src="../static/html2canvas.min.js"></script>
</head>
<body>
    <div id="windowsBox" style="width: 500px;height: 900px; overflow: hidden;">
        <div id="mainCapture" style="height: 50px;transform-origin: 0px 0px; transform: scale(0.36);">
        <div id="container">
            <div id="background" style="background-image: url(static/b30_image/Background.jpg); height: 3400px;">
            </div>
            <h1 id="notice" hidden="hidden">若页面显示不完整，请刷新几次</h1>
            <div id="info-display">
                <div id="player-info">

                    <div id="avatar">
                        <div id="iconblur">
                            <img src="../static/b30_image/blur.png">
                        </div>
                        <div id="icon" onclick="picture()">
                            <img src="../static/b30_image/2u_icon.webp">
                        </div>
                        <div id="potential-container">
                            <div id="potential">
                                <img id="potential-frame" src="../static/b30_image/rating_4.png">
                                <div id="potential-value"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="user-name-container">
                    <img id="user-course-dan" src="../static/b30_image/6.png">
                    <div id="user-name">Hikari</div>
                </div>
                <div id="user-id-container">
                    <img id="id-course-dan" src="../static/b30_image/6.png">
                    <div id="user-id">ID : <span>114 514 616</span></div>
                </div>
                <div id="ptt-display" onclick="displayAccuratePtt()">
                    <div id="ptt-max">PTT : <span></span></div>
                    <div id="ptt-b30">B30 : <span></span></div>
                    <div id="ptt-r10">R10 : <span></span></div>
                    <div><span></span></div>
                </div>
                <div class="spliter" id="spliter-best30">
                    <img class="spliter-image" src="../static/b30_image/divider.png">
                    <img id="spliter-text-best30" src="../static/b30_image/best30.png">

                </div>
            </div>


        </div>

        <!-- 显示 b30 数据 主体在js内 -->
        <div id="b30-data">
            <div id="spliter-overflow" class="spliter"><img id="spliter-image-overflow" class="spliter-image"
                    src="../static/b30_image/divider.png"><img id="spliter-text-overflow"
                    src="../static/b30_image/overflow.png"></div>
        </div>

        <div id="copyright">
            <span></span>
            <span contenteditable="true">点击编辑自定义内容</span>
        </div>
        <div>
            <p>本页面基于<a href="https://github.com/SmartRTE/SmartRTE.github.io">SmartRTE</a>的项目开发</p>
        </div>
    </div>
    </div>
</body>
    <script src="../static/b30.js"></script>
</html>