<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>picture</title>

    <style>
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px; /* 行间距 */
        }

        .son_div {
            flex: 0 0 19%; /* 留1%间隙 */
            aspect-ratio: 1/1; /* 保持正方形 */}
        img {
            width: 150px;
            height: 150px;
        }

    </style>
    <script src="../static/picture.js"></script>
</head>
<body>

<div class = "father_div" id="b30"></div>
<div class="father_div" id="r10"></div>
</body>
</html>